@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

*{
	font-family: Audiowide;
}

html, 
body {
    height: 100%;
    margin:0px; 
    padding:0px;
}

header {
		height: 60%;
    z-index: 10;
}

nav ul{
	margin: 0;
  line-height: 65px;
  font-size: 25px;
  text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 0px 40px;
}

nav ul li a {
	text-decoration: none;
	color: #F58220;
	transition: 200ms;
}

nav ul li a:hover {
	border-bottom: 1px solid #00599e;
	text-decoration: none;
}

nav ul li a:focus{
	text-decoration: none;
}

#main{
  z-index: 100;
  position: fixed;
  width: 100%;
}

/*.James{
	background-image: url('../images/James.png');
  background-repeat: no-repeat;
  background-position-y: 100px;
  background-size: 500px;
	-webkit-backface-visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: fadeIn infinite 24000ms;
	animation-iteration-count: 1;
}

.Dave{
	background-image: url('../images/Dave.png');
  background-repeat: no-repeat;
  background-position-y: 100px;
  background-size: 740px;
	-webkit-backface-visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: fadeIn infinite 24000ms;
	animation-iteration-count: 1;
	animation-delay: 16s;
}

.BBKing{
	background-image: url('../images/bbking.png');
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-size: 580px;
	-webkit-backface-visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: fadeIn infinite 24000ms;
	animation-iteration-count: 1;
	animation-delay: 32s;
}

@keyframes fadeIn{
	0% {opacity: 0; left: -100px;}
	20% {opacity: 0.1; left: -50px;}
	100% {opacity: 0; left: 50px;}
}*/

.Heavy{
	background-image: url('../images/heavy.png');
  background-repeat: no-repeat;
  background-position-y: 100px;
  background-size: 440px;
	position: fixed;
	width: 100%;
	height: 100%;
	animation: fadeIn 1500ms;
	opacity: 1;
	left: 350px;
	-webkit-backface-visibility: hidden;
}

@keyframes fadeIn{
	from{
		opacity: 0;
		bottom:	-540px;
	}
	to{
		opacity: 1;
		bottom: 0px;
	}
}
.box1{
	background-image: url('../images/guitar.jpg'); 
	background-size: 100%;    
	width: 100%;
  height: 100%;
  top: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.box2{
  background-image: url('../images/drums.png'); 
  background-size: 150%;    
  width: 100%;
  height: auto;
  top: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
}

.box3{
	background-image: url('../images/piano.jpg'); 
	background-size: 150%;    
	width: 100%;
  height: 110%;
  top: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
}

.box4{
	background-image: url('../images/bass.jpg'); 
	background-size: 150%;   
	width: 100%;
  height: 100%;
  top: 0;
  position: relative;
}

footer{ 
  width: 100%;
  height: 95px;
  position: relative;
  background-color: #0000009c;
  bottom: 95px;
  padding-top: 25px;
  text-align: center;
}

footer i{
	font-size: 40px;
  color: white;	
  transition: 200ms;		
}

footer i:hover{
	color: #F58220;
}

footer a{
	margin: 0px 100px;
}

.details{
	position: relative;
	color: white;
	font-size: 18px;
	font-family: 'Archivo Black';
  padding: 120px 100px;
}

.active {
  border-bottom: 1px solid #00599e;
}

.NavImg{
	position: relative; 
	top: 10px;
}

.Pic_Paulo{
	background-image:url('../images/paulo_baixo.jpg');
  height: 21%;
  background-size: 150px;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: -10px;
  transition: 200ms;
}

.Pic_Paulo:hover{
	filter: grayscale(1);
}

.Pic_Luanda{
	background-image:url('../images/luanda_canto.jpg');
  height: 21%;
  background-size: 150px;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: -30px;
  transition: 200ms;
}

.Pic_Luanda:hover{
	filter: grayscale(1);
}

.Pic_Marina{
	background-image:url('../images/marina_piano.jpg');
  height: 21%;
  background-size: 150px;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: -30px;
  transition: 200ms;
}

.Pic_Marina:hover{
	filter: grayscale(1);
}

.Pic_Allan{
	background-image:url('../images/allan_bateria.jpg');
  height: 21%;
  background-size: 150px;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: -30px;
  transition: 200ms;
}

.Pic_Allan:hover{
	filter: grayscale(1);
}

.TeacherLine{
	padding: 130px 30px 0px; 
	text-align: center;
}

.TeacherCard{
	background-color: #ffb76d3b; 
	height: 480px; 
	border-radius: 30px; 
	padding: 10px;
	box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.3), 0 0 20px 0px rgba(0, 0, 0, 0.1) inset;
}

.TeacherName{
	color: white;
	font-size: 20px;
}

.Instrument{
	color: white;
}

.TeacherDesc{
	word-break: normal;
	color: white;
	padding-top: 10px;
}

.KnowMore{
	padding: 30px;
  font-size: 30px; 
  text-align: center;
}

.KnowMore a{
	color: #ec8603;
}

.KnowMore a:hover{
	text-decoration: none;
	color: white;
}

.ContFrames{
	margin-top: 100px;
}

.ContVideo{
	width: 380px;
}

.SmallText h2{
	color: white;
  border-bottom: 1px solid #f9555575;
  width: 240px;
  padding-bottom: 6px;
}

.SmallText p{
	color: #dadada;
	word-break: word-break;
}

.SmallText{
  box-shadow: 19px 20px 14px 0px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
  border-radius: 22px;
  margin-right: 20px;
}

.SmallMore{
  box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
  border-radius: 22px;
	text-align: center;
}

.SmallMore a{
	font-size: 30px;
	color: white;
  padding-bottom: 6px;
  transition: 200ms;
}

.SmallMore a:hover{
  color: #ff5555;
  text-decoration: none;
}



/*Mobile CSS*/
@media screen and (max-width: 762px){

	.box1{
		background-repeat: no-repeat;
    background-size: cover;
    background-position: -310px;
    min-height: 100%;
    height: auto;
	}

	.box2{
		background-repeat: no-repeat;
    background-size: cover;
    background-position: -310px;
    min-height: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
	}

	.box3{
		background-repeat: no-repeat;
    background-size: cover;
    background-position: -310px;
		min-height: 100%;
		height: auto;
		-webkit-backface-visibility: hidden;
	}

	.box4{
		background-repeat: no-repeat;
    background-size: cover;
    background-position: -310px;
    min-height: 130%;
    height: auto;
	}

	.Heavy{
		width: 100%;
		left: 0px;
		height: 100%;
		background-size: 100%;
		background-position-y: bottom; 
		-webkit-backface-visibility: hidden;
		position: absolute !important;
	}

	.details{
		font-size: 13px;
    padding: 10px;
	}

	footer{
		height: 95px;
	}

	footer a{
		margin: 30px;
	}

	#sidebar{
		-webkit-backface-visibility: hidden;
		position: fixed;
		width: 200px;
		height: 100%;
		background-color: #fffffff8;
		left: -200px;
		transition: all 500ms linear;
	}

	#sidebar.active{
		left: 0px;
	}

	#sidebar ul li{
		list-style: none;
		padding: 15px;
		font-size: 22px;
		text-decoration: none;
	}

	#sidebar a{
		text-decoration: none;
	}

	.activeSideMenu{
		background-color: grey;
	}

	#sidebar .toggle-btn{
		position: absolute;
		left: 230px;
		top: 20px;
	}

	#sidebar .toggle-btn span{
		display: block;
    width: 45px;
    height: 9px;
    background-color: #337ab7;
    margin: 6px 0px;
	}

	.TeacherCard{
		min-width: 270px;
		min-height: 500px;
	}

	.TeacherLine{
		display: flex;
		overflow-x: auto;
		padding: 100px 30px 0px;
	}

	.KnowMore{
		padding: 30px 0px 0px;
	}

	.NavImg{
    width: 150px;
    position: relative;
    right: 30px;
	}

	.SmallText p{
		color: white;
	}

}
