<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="../assets/js/scrollEffect.js"></script>
</head>
<body>

	<div id="main">
		<nav>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Sobre</a></li>
				<li><img src="../assets/images/logo_real_som_colorido.png" style="position: relative; top: 30px;"></li>
		    <li><a href="">Aulas</a></li>
		    <li><a href="">Contato</a></li>
			</ul>
		</nav>
	</div>

<div class="box1">
</div>

<div class="box2">
</div>

<div class="box3">
</div>

</body>
</html>