<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="shortcut icon"  href="../assets/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../assets/js/scrollEffect.js"></script>
		<script src="../assets/js/SideBar.js"></script>

</head>
<body>
	<!-- Aqui é o menu no desktop -->
	<div id="main" class="hidden-xs">
		<nav>
			<ul>
				<li><a href="#boxHome" class="HeaderLinks">Home</a></li>
				<li><a href="#boxAbout" class="HeaderLinks">Sobre</a></li>
				<li><img src="../assets/images/logo_real_som_colorido.png" class="NavImg"></li>
	    	<li><a href="#boxClass" class="HeaderLinks">Aulas</a></li>
	    	<li><a href="#boxContact" class="HeaderLinks">Contato</a></li>
			</ul>
		</nav>
	</div>

	<!-- Aqui é o menu no mobile -->
	<div id="sidebar" class="hidden-lg" style="z-index: 999">
		<div class="toggle-btn" onclick="toggleSideBar()">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul>
			<li><img src="../assets/images/logo_real_som_colorido.png" class="NavImg"></li>
			<li><a href="#boxHome">Home</a></li>
			<li><a href="#boxAbout">Sobre</a></li>
	  	<li><a href="#boxClass">Aulas</a></li>
	  	<li><a href="#boxContact">Contato</a></li>
		</ul>
	</div>

<!-- Box Home -->
<div class="box1" id="boxHome">

	<!-- Multiple Animations >> DESCOMENT LINE 52
	<div id="AnimatedJames" class="James"></div>
	<div id="AnimatedDave" class="Dave"></div>
	<div id="AnimatedBBKing" class="BBKing"></div>
	-->
	
	<div id="AnimatedHeavy" class="Heavy col-lg-6"></div>
</div>


<!-- Box About -->
<div class="box2" id="boxAbout">
	<div class="details">
		<br>Em 1991, no bairro do Ipiranga, foi inaugurada a Real Som. Inicialmente apenas com os cursos de órgão elétrico e teclado, mas rapidamente os cursos de violão, guitarra, canto, bateria e outros, foram adicionados à grade da escola, todos com método próprio. <br>

		<br>Desde o início, a escola sempre contou com um corpo docente bastante dedicado e talentoso, como o professor Alexandre Francischini, que hoje é doutor em música pela UNESP e professor de três importantes universidades de São Paulo. <br>

		<br>Entre esses anos todos, aproximadamente 6.000 alunos e mais de 40 professores passaram pela escola, que já organizou mais de 100 eventos musicais, como audições, festivais de bandas e acústicos, onde professores e alunos se encontram no palco para formar uma grande confraternização musical. <br>

		<br>Por conta do clima de amizade, muitos ex alunos que seguiram carreira na música voltaram para a escola, agora como professores, alguns deles são: Vicente de Lutiis, Allan Calvo e Luanda Rolim. <br>

		<br>Por ter um corpo docente muito variado, cada professor é especializado em algum tipo de música, passeando pelo rock, pop, jazz, MPB e música erudita, possibilitando ao aluno aprender o que ele quiser dentro do mundo musical. <br>

		<br>Em constante renovação, a Real Som está sempre de olho no futuro, desenvolvendo sempre um novo projeto, abrindo novos cursos, ampliando recursos tecnológicos e criando diversos canais virtuais para interação entre professor e aluno, em busca da contribuição em um novo cenário musical. <br>

	</div>
</div>


<!-- Lista de professores versao Desktop e Mobile-->
<div class="box3" id="boxClass">
	<div class="col-lg-12 TeacherLine">

		<div class="col-lg-3">
			<div class="TeacherCard">
				<a href="https://www.google.com.br" target="_blank"><div class="col-lg-5 col-xs-5 Pic_Paulo"></div>
				<div class="col-lg-6 TeacherName">Paulo Ventura</div></a>
				<div class="col-lg-6 Instrument">(Contrabaixo)</div>
				<div class="col-lg-12 col-xs-12 TeacherDesc">

			   <strong>Três bandas favoritas. </strong><br>
			    Queen, Iron Maiden, Living Colour<br>

			    <br><strong>Quem é seu ídolo? </strong><br>
			    Não tenho ídolos. Admiro pessoas e artistas e me inspiro nelas. Vários.<br>

			    <br><strong>Qual foi sua primeira vivência com a música?</strong><br>
			    Os programas de rádio que meus pais ouviam.

				</div>
			</div>
		</div>
		
		<div class="col-lg-3">
			<div class="TeacherCard">
				<a href="https://www.google.com.br" target="_blank"><div class="col-lg-5 col-xs-5 Pic_Luanda"></div>
				<div class="col-lg-6 TeacherName">Luanda Rolim</div></a>
				<div class="col-lg-6 Instrument">(Canto pop. e erudito)</div>
				<div class="col-lg-12 col-xs-12 TeacherDesc">

					<strong>Três bandas favoritas.</strong><br>
		    	Nightwish, Within Temptation e HB.<br>
		      

			    <br><strong>Quem é seu ídolo?</strong><br>
		    	Difícil (rsrsrs) Atualmente, Diana Damrau (cantora lírica soprano alemã).<br>

			    <br><strong>Qual foi sua primeira vivência com a música?</strong><br>
			    Sempre frequentei a igreja, então, sempre cantava os louvores, e aos 11 anos, quando comecei a fazer aulas de violão na minha própria igreja.

				</div>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="TeacherCard">
				<a href="https://www.google.com.br" target="_blank"><div class="col-lg-5 col-xs-5 Pic_Allan"></div>
				<div class="col-lg-6 TeacherName">Allan Calvo</div></a>
				<div class="col-lg-6 Instrument">(Bateria)</div>
				<div class="col-lg-12 col-xs-12 TeacherDesc">

					<strong>Três bandas favoritas.</strong><br>
			    In flames, children of bodom, machine head
			    <br>

			    <br><strong>Quem é seu ídolo?</strong><br>
			    Ronaldo Fenômeno x)
			    <br>

			    <br><strong>Qual foi sua primeira vivência com a música?</strong><br>
			    Com a música: Se apegar muito em 'one more time' do Daft Punk quando tocava nas rádios. Com instrumento: Meu irmão tentando aprender violão.

				</div>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="TeacherCard">
				<a href="https://www.google.com.br" target="_blank"><div class="col-lg-5 col-xs-5 Pic_Marina"></div>
				<div class="col-lg-6 TeacherName">Marina Aramaki</div></a>
				<div class="col-lg-6 Instrument">(Piano e teclado)</div>
				<div class="col-lg-12 col-xs-12 TeacherDesc">

					<strong>Três bandas favoritas.</strong><br>
			    Não sei se 'favoritas' é o termo certo, mas as mais marcantes são Beatles, Nightwish e Los Hermanos.<br>

			    <br><strong>Quem é seu ídolo?</strong><br>
			    Difícil, Amy Lee foi minha primeira paixão hehe.<br>

			    <br><strong>Qual foi sua primeira vivência com a música?</strong><br>
			    Alguns CDs que eu colocava no repeat quando criança: um do Caetano Veloso, um do Mozart e um de músicas eruditas variadas.<br>

				</div>
			</div>
		</div>

	</div>

<!-- Box Know More -->
<div class="col-lg-12 KnowMore">
	<a href="https://www.youtube.com/playlist?list=PLU72z6V2VPRdfE06QjifZ2cjAWvzE78Al" target="_blank">> Veja Todos <</a>
</div>

</div>

<!-- Box Contact -->
<div class="box4" id="boxContact">
	<div class="col-lg-12 col-xs-12 ContFrames">

		<div class="col-lg-4 col-xs-12 SmallText">
			<h2>Redes Sociais</h2>
			<p>
				Uma ótima forma de nos encontrar é através de nossas redes sociais.<br>
				Estamos sempre atualizando nosso facebook com eventos e notícias sobre a escola.<br>
				Assim como no facebook, você também pode nos seguir no instagram para ficar por dentro das novidades!<br>
				E se inscreva também no nosso canal do YouTube para assistir os vídeos sobre a escola.<br><br>
				Se você ainda não nos segue, não perca tempo!<br><br>
				Telefone: (11) 2969-6620<br>
				Endereço: Av. Nossa Sra. da Encarnação, 170 - Sacomã, São Paulo - SP, 04180-080
			</p>
		</div>

		<div class="col-lg-4 hidden-xs" style="margin-top: 50px;">
			<iframe width="380" height="215" src="https://www.youtube.com/embed/mg1KMv-wir0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

			<div class="col-lg-11 col-xs-12 SmallMore">
				<a href="https://www.youtube.com/user/gruporealsom/featured" target="_blank">> Veja Mais <</a>
			</div>

		</div>
		
		<div class="col-lg-4 hidden-xs" style="width: 28%;">
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fescolademusicarealsom%2F&tabs=timeline&width=340&height=380&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="380" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
		</div>
		


	</div>
</div>


<footer>
	<a href="https://www.facebook.com/escolademusicarealsom/" target="_blank"><i class="fab fa-facebook-f"></i></a>
	<a href="https://www.instagram.com/gruporealsom/" target="_blank"><i class="fab fa-instagram"></i></a>
	<a href="https://www.youtube.com/channel/UC5SWcfhM9jJ0a7aVKxb_uhg" target="_blank"><i class="fab fa-youtube"></i></a>
</footer>

</body>
</html>